services:
  polybot-llm-bot:
    container_name: polybot-llm-bot
    network_mode: service:polybot-vpn-leaderboard
    depends_on:
      - polybot-db
      - polybot-vpn-leaderboard
      - polybot-llm-leaderboard
      - polybot-markets
    build:
      context: ./
      dockerfile: Dockerfile
      target: llm-bot
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@polybot-db:5432/${POSTGRES_DB}
      - PK=${PK}
      - ALCHEMY_API_KEY=${ALCHEMY_API_KEY}
      - POLYMARKET_FUNDER_ADDRESS=${POLYMARKET_FUNDER_ADDRESS}
      - CLOB_API_KEY=${CLOB_API_KEY}
      - CLOB_SECRET=${CLOB_SECRET}
      - CLOB_PASS_PHRASE=${CLOB_PASS_PHRASE}
  polybot-llm-leaderboard:
    container_name: polybot-llm-leaderboard
    network_mode: service:polybot-vpn-leaderboard
    depends_on:
      - polybot-db
      - polybot-vpn-leaderboard
    build:
      context: ./
      dockerfile: Dockerfile
      target: llm-leaderboard
    restart: always
    volumes:
      - ~/polybot-stream/:/app/stream
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@polybot-db:5432/${POSTGRES_DB}
      - CONTAINER_TYPE=PRIMARY
    shm_size: "8gb"

  # polybot-llm-leaderboard-new:
  #   container_name: polybot-llm-leaderboard-new
  #   network_mode: service:polybot-vpn-leaderboard-new
  #   depends_on:
  #     - polybot-db
  #     - polybot-vpn-leaderboard-new
  #   build:
  #     context: ./
  #     dockerfile: Dockerfile
  #     target: llm-leaderboard-new
  #   restart: always
  #   volumes:
  #     - ~/polybot-stream/:/app/stream
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@polybot-db:5432/${POSTGRES_DB}
  #     - CONTAINER_TYPE=SECONDARY
  #   shm_size: "8gb"
  polybot-markets:
    container_name: polybot-markets
    networks:
      - internal
    depends_on:
      - polybot-db
      - polybot-vpn-leaderboard
    build:
      context: ./
      dockerfile: Dockerfile
      target: markets
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@polybot-db:5432/${POSTGRES_DB}
      - PK=${PK}
      - ALCHEMY_API_KEY=${ALCHEMY_API_KEY}
      - POLYMARKET_FUNDER_ADDRESS=${POLYMARKET_FUNDER_ADDRESS}
      - CLOB_API_KEY=${CLOB_API_KEY}
      - CLOB_SECRET=${CLOB_SECRET}
      - CLOB_PASS_PHRASE=${CLOB_PASS_PHRASE}
  polybot-db:
    container_name: polybot-db
    image: postgres:16-alpine
    restart: always
    networks:
      - internal
    ports:
      - 5436:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  polybot-vpn-leaderboard:
    # epic puffer
    container_name: polybot-vpn-leaderboard
    restart: always
    networks:
      - internal
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES="10.71.184.246/32"
      - SERVER_COUNTRIES=Albania,Argentina,Austria,Brazil,Bulgaria,Chile,Colombia,Croatia,Cyprus,Czech Republic,Denmark,Estonia,Finland,Greece,Hong Kong,Hungary,Indonesia,Ireland,Japan,South Korea,Latvia,Lithuania,Luxembourg,Malta,Mexico,Netherlands,New Zealand,Norway,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey
      - LOG_LEVEL=debug
      - DNS_ADDRESS=127.0.0.11
  # polybot-vpn-leaderboard-new:
  #   container_name: polybot-vpn-leaderboard-new
  #   restart: always
  #   networks:
  #     - internal
  #   image: qmcgaw/gluetun
  #   cap_add:
  #     - NET_ADMIN
  #   devices:
  #     - /dev/net/tun:/dev/net/tun
  #   environment:
  #     - VPN_SERVICE_PROVIDER=mullvad
  #     - VPN_TYPE=openvpn
  #     - OPENVPN_USER=${OPENVPN_USER}
  #     - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
  #     - OPENVPN_CIPHERS=AES-256-GCM
  #     - LOG_LEVEL=debug
  #     - DNS_ADDRESS=127.0.0.11

networks:
  internal:
    driver: bridge
